<div id="<%= dom_id chamado %>">
  <p>
    <strong>Data solicitacao:</strong>
    <%= chamado.data_solicitacao %>
  </p>

  <p>
    <strong>Hora solicitacao:</strong>
    <%= chamado.hora_solicitacao %>
  </p>

  <p>
    <strong>Nome solicitante:</strong>
    <%= chamado.nome_solicitante %>
  </p>

  <p>
    <strong>Ramal:</strong>
    <%= chamado.ramal %>
  </p>

  <p>
    <strong>Setor:</strong>
    <%= chamado.setor %>
  </p>

  <p>
    <strong>Andar:</strong>
    <%= chamado.andar %>
  </p>

  <p>
    <strong>Descricao solicitacao:</strong>
    <%= chamado.descricao_solicitacao %>
  </p>

  <p>
    <strong>Constatado:</strong>
    <%= chamado.constatado %>
  </p>

  <p>
    <strong>Providencia:</strong>
    <%= chamado.providencia %>
  </p>

  <p>
    <strong>Providenciado:</strong>
    <%= chamado.providenciado %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= chamado.status %>
  </p>

  <p>
    <strong>Detalhe:</strong>
    <%= chamado.detalhe %>
  </p>

  <p>
    <strong>Tecnico responsavel:</strong>
    <%= chamado.tecnico_responsavel %>
  </p>

  <p>
    <strong>Data fechamento:</strong>
    <%= chamado.data_fechamento %>
  </p>

</div>
